@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    background: url(img.jpg) no-repeat center fixed;
    background-size: cover;
    background-color: #184b9c;
}

h1 {
    padding-top: 50px;
    margin-left:15px;
    font-size: 80px;
    color: #ffffff;
    font-family: 'EF_watermelonSalad';
}

.check{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-family: 'EF_watermelonSalad';
}